<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978702071410-eqdq8d9ooqf7jv9mtv0uqvtl9m9eoch3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978702071410-eqdq8d9ooqf7jv9mtv0uqvtl9m9eoch3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>978702071410-g4baromqagd1kejtphsnorlk09d89i26.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQqZCTATrXQfcmeIQcBZSTR0oo2wB2_cU</string>
	<key>GCM_SENDER_ID</key>
	<string>978702071410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.udemyProject</string>
	<key>PROJECT_ID</key>
	<string>udemy-proects</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-proects.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978702071410:ios:8ac354114a75fe30fc34eb</string>
</dict>
</plist>